#inbox{
    margin-left:12px;
    margin-right: 12px;
}
table,tr{
    height:50px;
    line-height: 50px;
}
#texto{
    height:200px;
}
#icon_star{
    margin-top: 12px;
    font-size:18px;
}
#icon_attachment{
    margin-top: 12px;
    font-size:18px;
}